h1{background-color:rgb(178, 168, 220); font-family:Broadway;}
h2{color:rgb(166, 134, 1049); font-family:Britannic Bold;} 
h3{color:rgb(193, 149, 205); font-family:Britannic Bold;} 
    p{color:black;font-family:Britannic Bold;}
    ul{color:balck; font-family:Comic Sans MS;}
form{color:rgb(193, 149, 205); font-family:Comic Sans MS;}
body{color:rgb(164, 139, 102); font-family:Comic Sans MS;}
